/* Media Query */

@media screen and (max-width: 576px) {

    .banner-container {
        padding: 0 0;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        text-align: center;
    }

    .banner-img {
        width: 100%;
        height: 500px;
    }

    main {
        grid-template-columns: 1fr;
    }

    .upcoming {
        background-color: transparent;
        display: grid;
        grid-template-columns: 1fr;

        width: auto;
        height: auto;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: end;
        gap: 20px;
    }

    footer {
        height: auto;
    }

    footer .links {
        flex-direction: column;
    }
}

@media screen and (min-width: 576px) and (max-width:1200px) {

    main {
        grid-template-columns: 1fr;
    }

    .upcoming {
        background-color: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        width: auto;
        height: auto;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: end;
        gap: 20px;
    }
}