/* Media Query */

@media screen and (max-width: 576px) {

    .banner-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .banner-container>div {
        width: auto
    }
}

@media screen and (min-width: 768px) and (max-width:1200px) {

    main {
        grid-template-columns: 1fr;
    }

    .upcoming {
        background-color: transparent;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        width: auto;
        height: auto;
    }

    .blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: end;
        gap: 20px;
    }
}

/* @media screen and (min-width: 1200px) {} */